{% extends "Mainpage.html" %}

{% block main %}
<body class="bg-gray-50 h-screen">

    <div class="container mx-auto py-4 h-full flex flex-col">
        <div class="flex items-center mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Analysis and Insights</h1>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Generated Analysis</h3>
            {{ analysis_result|linebreaks}} 
            {{ error }}
        </div>

    </div>

</body>
{% endblock %}

