{% extends "Mainpage.html" %}

{% block main %}
<body class="bg-gray-50 h-screen">

    <div class="container mx-auto py-4 h-full flex flex-col">
        <div class="flex items-center mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Deeper Insight</h1>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
            <table id="deeperInsightTable" class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PRODUCT</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">COUNTS</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PERCENTAGE</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for row in table_data %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ row.product }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.counts }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.percentage }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
{% endblock %}
