{% extends "Mainpage.html" %}

{% block main %}
<body class="bg-gray-100">
    <div class="container mx-auto mt-6">
        <div class="bg-white p-5 rounded shadow border border-gray-300">
            <h2 class="text-2xl font-semibold mb-4">請選擇時間和通路</h2>
            {% if pictureType == 1 %}
            <form id="pathAndTimeForm" method="POST" action="{% url 'main:drawBuyWith' %}?step=select_path_time">
            {% elif pictureType == 3 %}
            <form id="pathAndTimeForm" method="POST" action="{% url 'main:drawRFM' %}?step=select_path_time">
            {% elif pictureType == 4 %}
            <form id="pathAndTimeForm" method="POST" action="{% url 'main:drawRFMwithProduct' %}?step=select_path_time">
            {% endif %}
            
                {% csrf_token %}
                <div class="flex justify-between mb-4">
                    <div class="w-1/2 pr-2">
                        <label for="start_time" class="block text-lg font-medium text-gray-700">開始時間</label>
                        <input type="text" id="start_time" name="start_time" class="datetimepicker mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="{{ startTime }}">
                    </div>
                    <div class="w-1/2 pl-2">
                        <label for="end_time" class="block text-lg font-medium text-gray-700">結束時間</label>
                        <input type="text" id="end_time" name="end_time" class="datetimepicker mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="{{ endTime }}">
                    </div>
                </div>

                <div class="mb-4">
                    <label for="store" class="block text-lg font-medium text-gray-700">請選擇通路</label>
                    <input type="text" id="pathFilter" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="搜尋通路...">
                    <select id="store" name="store" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disabled selected>請選擇通路</option>
                        <option value="超市、便利商店">超市、便利商店</option>
                        <option value="購物中心">購物中心</option>
                        <option value="餐廳">餐廳</option>
                        <option value="大眾運輸">大眾運輸</option>
                        <option value="線上商店">線上商店</option>
                        <option value="通訊">通訊</option>
                        <option value="家居用品">家居用品</option>
                        <option value="美妝保養">美妝保養</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                        <div class="p-4 rounded-md shadow mb-4 
                            {% if message.tags == 'error' %}
                                bg-red-100 text-red-700 border-l-4 border-red-500
                            {% elif message.tags == 'success' %}
                                bg-green-100 text-green-700 border-l-4 border-green-500
                            {% elif message.tags == 'warning' %}
                                bg-yellow-100 text-yellow-700 border-l-4 border-yellow-500
                            {% else %}
                                bg-blue-100 text-blue-700 border-l-4 border-blue-500
                            {% endif %}
                        ">
                            <strong class="font-semibold">{{ message.tags|title }}:</strong> <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
                {% if errorMessage %}
                <div id="errorMessage" class="text-red-500 text-sm mb-4">{{ errorMessage }}</div>
                {% else %}
                <div id="errorMessage" class="text-red-500 text-sm mb-4" style="display: none;">開始時間必須早於結束時間</div>
                {% endif %}
                <div class="flex justify-between">
                    <button type="button" onclick="window.history.back()" class="px-2 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 flex items-center text-sm">
                        <ion-icon name="arrow-back-outline" class="mr-1"></ion-icon>Back
                    </button>
                    <button type="submit" id="nextButton" class="px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center text-sm">
                        <ion-icon name="arrow-forward-outline" class="mr-1"></ion-icon>Next
                    </button>
                </div>
            </form>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh-tw.js"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var startPicker = flatpickr("#start_time", {
                locale: "zh_tw",
                plugins: [new monthSelectPlugin({
                    shorthand: true, 
                    dateFormat: "Y-m", 
                    altFormat: "F Y", 
                })],
                minDate: "2020-01", // 設定最小日期
                maxDate: "2021-12", // 設定最大日期
                onValueUpdate: function(selectedDates, dateStr, instance) {
                    endPicker.set('minDate', dateStr);
                }
            });

            var endPicker = flatpickr("#end_time", {
                locale: "zh_tw",
                plugins: [new monthSelectPlugin({
                    shorthand: true, 
                    dateFormat: "Y-m", 
                    altFormat: "F Y", 
                })],
                minDate: "2020-01", // 設定最小日期
                maxDate: "2021-12", // 設定最大日期
                onValueUpdate: function(selectedDates, dateStr, instance) {
                    startPicker.set('maxDate', dateStr);
                }
            });

            $('#pathFilter').on('input', function() {
                var filterValue = $(this).val().toLowerCase();
                $('#store option').each(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                });
            });

            $('#pathAndTimeForm').submit(function(event) {
                var startTime = $('#start_time').val();
                var endTime = $('#end_time').val();
                if (new Date(startTime) >= new Date(endTime)) {
                    $('#errorMessage').text('開始時間必須早於結束時間').show();
                    event.preventDefault();
                } else {
                    $('#errorMessage').hide();
                }
            });
        });
    </script>
</body>
{% endblock %}
