{% extends "Mainpage.html" %}

{% block main %}
<body class="bg-gray-100">
    <div class="container mx-auto mt-6">
        <div class="bg-white p-5 rounded shadow">
            <h2 class="text-2xl font-semibold mb-4">請選擇分類和產品</h2>
            {% if pictureType == 1 %}
            <form id="tagForm" method="POST" action="{% url 'main:drawBuyWith' %}?step=select_tag">
            {% elif pictureType == 2 %}
            <form id="tagForm" method="POST" action="{% url 'main:drawPath' %}?step=select_tag">
            {% elif pictureType == 4 %}
            <form id="tagForm" method="POST" action="{% url 'main:drawRFMwithProduct' %}?step=select_tag">
            {% endif %}
                {% csrf_token %}
                <div class="mb-4">
                    <label for="bigTag" class="block text-lg font-medium text-gray-700">選擇分類</label>
                    <input type="text" id="tagFilter" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="搜尋標籤...">
                    <select id="bigTag" name="bigTag" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="">請選擇分類</option>
                        {% for tag in bigTags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="smallTag" class="block text-lg font-medium text-gray-700">選擇子分類</label>
                    <input type="text" id="itemFilter" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="搜尋項目...">
                    <select id="smallTag" name="smallTag" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="">請先選擇分類</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="product" class="block text-lg font-medium text-gray-700">選擇產品</label>
                    <input type="text" id="productFilter" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="搜尋產品...">
                    <select id="product" name="product" class="mt-2 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="">請選擇產品</option>
                    </select>
                </div>
                {% if errorMessage %}
                <div id="errorMessage" class="text-red-500 text-sm mb-4">{{ errorMessage }}</div>
                {% else %}
                <div id="errorMessage" class="text-red-500 text-sm mb-4" style="display: none;">請選擇子分類</div>
                {% endif %}
                <div class="flex justify-between">
                    <button type="button" onclick="window.history.back()" class="px-2 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 flex items-center text-sm">
                        <ion-icon name="arrow-back-outline" class="mr-1"></ion-icon>Back
                    </button>
                    <button type="submit" class="px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center text-sm">
                        <ion-icon name="save-outline" class="mr-1"></ion-icon>Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tagFilter').on('input', function() {
                var filterValue = $(this).val().toLowerCase();
                $('#bigTag option').each(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                });
            });

            $('#itemFilter').on('input', function() {
                var filterValue = $(this).val().toLowerCase();
                $('#smallTag option').each(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                });
            });

            $('#productFilter').on('input', function() {
                var filterValue = $(this).val().toLowerCase();
                $('#product option').each(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
                });
            });

            $('#bigTag').change(function() {
                var bigtag = $(this).val();
                $.ajax({
                    url: '{% url "main:getSmallTags" %}',
                    data: { 'bigtag': bigtag },
                    success: function(data) {
                        var smallTagSelect = $('#smallTag');
                        smallTagSelect.empty();
                        smallTagSelect.append('<option value="">請選擇子分類</option>');
                        $.each(data.smallTags, function(index, value) {
                            smallTagSelect.append('<option value="' + value.name + '">' + value.name + '</option>');
                        });
                        smallTagSelect.val('{{ smallTag }}'); 
                    }
                });
            });

            $('#smallTag').change(function() {
                var smallTag = $(this).val();
                $.ajax({
                    url: '{% url "main:getProducts" %}',  
                    data: { 'smallTag': smallTag },
                    success: function(data) {
                        var productSelect = $('#product');
                        productSelect.empty();
                        productSelect.append('<option value="">請選擇產品</option>');
                        $.each(data.products, function(index, value) {
                            productSelect.append('<option value="' + value + '">' + value + '</option>');
                        });
                        productSelect.val('{{ itemName }}'); 
                    }
                });
            });

            var selectedBigTag = "{{ bigTag }}";
            if (selectedBigTag) {
                $('#bigTag').val(selectedBigTag).change();
            }
            var selectedSmallTag = "{{ smallTag }}";
            if (selectedSmallTag) {
                $('#smallTag').val(selectedSmallTag).change();
            }

            $('#tagForm').submit(function(event) {
                var smallTag = $('#smallTag').val();
                if (!smallTag) {
                    $('#errorMessage').text('請選擇子分類').show();
                    event.preventDefault();
                } else {
                    $('#errorMessage').hide();
                }
            });
        });
    </script>
</body>
{% endblock %}
